{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static "img/logo.jpg" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link type="text/css" href="{% static 'css/menu.css' %}" rel='stylesheet'/>
</head>
<header>
    <nav class="menu">
        <input class="menu-toggle" id="menu-toggle" type="checkbox">
        <label class="menu-toggle-button" for="menu-toggle">☰</label>
        <ul class="menu-links">
            <li><a href="{% url 'blog:home' %}">Home</a></li>
            <li><a href="{% url 'alumno:Autenticacion' %}">Registro</a></li>
            <li><a href="{% url 'alumno:logear' %}">Ingrese</a></li>
            <li><a href="{% url 'alumno:cerrar_sesion' %}">Cerrar Sesion</a></li>
        </ul>
    </nav>
</header>
<body>
    {% block content %}

    {% endblock content %}
</body>
</html>